*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,129,1) 50%, rgba(252,176,69,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.container{
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 250%;
    font-weight: bolder;
}
@media all and (max-width:350px){
    .container{
        font-size: 20px;
    }
} 